/****CSS for parallex scrolling****/
* {
margin: 0;
padding: 0;	
}

body {
	font-family: 'Lato', sans-serif;
}

#title h1{
	color: white;
	text-align: right;
	font-size: 120px;
	position: fixed;
	padding-left: 750px;
	padding-top: 120px;
	
}

.bg-image1 {
	background-image: url("images/record.JPG");
	background-attachment: fixed;
}

.bg-image2 {
	background-image: url("images/street.JPG");
	
}

.bg-image3 {
	background-image: url("images/motorcycle.JPG");
	background-attachment: fixed;
}

.bg-image4 {
	background-image: url("images/typewriter.JPG");
	
}

.bg-image5 {
	background-image: url("images/vhs.JPG");
	background-attachment: fixed;
}

.bg-image1,
.bg-image2,
.bg-image3,
.bg-image4,
.bg-image5 {
	
	height: 700px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.scroll-text1,
.scroll-text2,
.scroll-text3,
.scroll-text4 {
	color: white;
	height: 200px;
	text-align: left;
	font-size: 24px;
	padding-top: 50px;
	
	
}

.scroll-text1 {
	background-color: #606772;

}

.scroll-text2 {
	background-color: #99036e;
}

.scroll-text3 {
	background-color: #5193a0;
}

.scroll-text4 {
	background-color: #996633;
}

.scroll-text1 p,
.scroll-text2 p,
.scroll-text3 p,
.scroll-text4 p

 {
	padding-right: 55%;
	padding-left: 150px;
}

.sub-text {
		color: white;
		padding: 200px 55% 500px 50px;
	}	

footer {
	background-color: #993333;
	padding: 50px;
	color: white;
	font-size: 18px;
	text-align: center;

}
